* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #1c1c1c;
  font-family: "Karla", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  width: 550px;
  height: 550px;
}

h1 {
  font-size: 40px;
  width: 22rem;
  color: #f9fafb;
  margin-bottom: 0.5rem;
}

span {
  color: #4adf86;
}

h2 {
  font-size: 20px;
  color: #d1d5db;
  font-weight: normal;
  margin-bottom: 3rem;
}
#password-input {
  height: 42px;
  width: 130px;
  border-radius: 0.2rem;
  border: none;
  background: #f9fafb;
  align-items: center;
  font-family: "Karla";
  font-size: 16px;
  font-weight: medium;
  color: #273549;
  text-align: center;
  margin-right: 6px;
}
.generate-btn {
  width: 191px;
  height: 42px;
  background-color: #10b981;
  color: #f3f4f6;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.generate-btn:hover {
  background-color: #2f3e53;
  color: #10b981;
  border: 1px solid #10b981;
}

hr.rounded {
  height: 1px;
  border: none;
  border-radius: 6px;
  background: #2f3e53;
  margin-bottom: 2rem;
}

.password-container {
  display: flex;
}

.password-btn {
  width: 211px;
  height: 39px;
  background-color: #273549;
  color: #55f991;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-bottom: 2rem;
  cursor: pointer;
  overflow: hidden;
}

.second {
  margin-left: 1rem;
}
